<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="theme-color" content="#FFFFFF">

    <title>Basic Setup</title>
    <script src="/javascripts/application.js"></script>
    <link rel="stylesheet" href="/stylesheets/application.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  </head>

  <body>
    <%= yield %>
    <script>
      if('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js')
          .then(function() {
            console.log('Service Worker Registered');
          });
      }
    </script>
  </body>
</html>
